In [5]:
## To remove rows from Tables in DB

import sqlite3

DB_PATH = "data/clean_music_data.db"

conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

cursor.execute("DELETE FROM midi_events;")

conn.commit()
conn.close()

print("Done.")

Done.

In [1]:
import sqlite3
import pandas as pd

DB_PATH = "data/clean_music_data.db"

with sqlite3.connect(DB_PATH) as conn:
    audio_df = pd.read_sql_query("SELECT timestamp FROM audio_features ORDER BY timestamp", conn)
    midi_df = pd.read_sql_query("SELECT timestamp FROM midi_events ORDER BY timestamp", conn)

# Convert to int64
audio_df['timestamp'] = audio_df['timestamp'].astype('int64')
midi_df['timestamp'] = midi_df['timestamp'].astype('int64')

# -----------------------------
# Basic stats
# -----------------------------
print("Audio timestamps:")
print(f"Count: {len(audio_df)}")
print(f"Min: {audio_df['timestamp'].min()}")
print(f"Max: {audio_df['timestamp'].max()}")
print(f"Delta (mean ms): {(audio_df['timestamp'].diff().mean()/1e6):.2f}")

print("\nMIDI timestamps:")
print(f"Count: {len(midi_df)}")
print(f"Min: {midi_df['timestamp'].min()}")
print(f"Max: {midi_df['timestamp'].max()}")
print(f"Delta (mean ms): {(midi_df['timestamp'].diff().mean()/1e6):.2f}")

# -----------------------------
# Optional: check first few rows
# -----------------------------
print("\nAudio timestamp samples:")
print(audio_df.head(10))

print("\nMIDI timestamp samples:")
print(midi_df.head(10))

ModuleNotFoundError: No module named 'pandas'